.button {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 100%;
   height: 2.5vw;
   border-radius: 0.208vw;
   box-shadow: 0 0.156vw 0.313vw 0 rgba(0, 0, 0, 0.25);
   font-size: 0.729vw;
   background-color: #288ec3;
   border: 0;
   color: white;
   font-weight: bold;
   line-height: 1;
   text-align: center;
   transition: 0.2s all;
   cursor: pointer;

    @media (max-width: 1365px){   
      height: 3.516vw;
      border-radius: 0.293vw;
      box-shadow: 0 0.219vw 0.44vw 0 rgba(0, 0, 0, 0.25);
      font-size: 1.025vw;
    }

    @media (max-width: 1024px){ 
      height: 6.258vw;
      border-radius: 0.521vw;
      box-shadow: 0 0.39vw 0.784vw 0 rgba(0, 0, 0, 0.25);
      font-size: 1.825vw;
    }

    @media (max-width: 767px){
      height: 13.333vw;
      border-radius: 1.109vw;
      box-shadow: 0 0.832vw 1.669vw 0 rgba(0, 0, 0, 0.25);
      font-size: 3.889vw;
    }

   &:active:not(:disabled) {
      transform: scale(1.01);
   }

   &:focus {
      outline: 0;
   }

   &:disabled {
      opacity: 0.25;
      cursor: default;
   }

   & .processing {
      display: flex;
      align-items: center;
      
      & .dot-flashing {
         position: relative;
         width: 0.156vw;
         height: 0.156vw;
         border-radius: 100%;
         background-color:#fff;
         color:#fff;
         animation: dotFlashing 1s infinite linear alternate;
         animation-delay: .5s;
         left: 0.625vw;
         top: 0.313vw;
       }
       
       & .dot-flashing::before, & .dot-flashing::after {
         content: '';
         display: inline-block;
         position: absolute;
         top: 0;
       }
       
       & .dot-flashing::before {
         left: -0.26vw;
         width: 0.156vw;
         height: 0.156vw;
         border-radius: 100%;
         background-color:#fff;
         color:#fff;
         animation: dotFlashing 1s infinite alternate;
         animation-delay: 0s;
       }
       
       & .dot-flashing::after {
         left: 0.26vw;
         width: 0.156vw;
         height: 0.156vw;
         border-radius: 100%;
         background-color:#fff;
         color:#fff;
         animation: dotFlashing 1s infinite alternate;
         animation-delay: 1s;
       }
       
       @keyframes dotFlashing {
         0% {
           background-color:#fff;
         }
         50%,
         100% {
           background-color: rgba(#fff, 0.25);
         }
       }
   }
}
