.dropdown-component {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 0;
  background: #182f5d;
  border-radius: 0.293vw;
  &.open {
    .dropdown-group {
      .input-group {
        transition: all 0.2s ease-in;
        background: #182f5d;
        .open-icon {
          transition: all 0.2s ease-in;
          transform: rotate(180deg);
        }
        .dropdown-input {
          transition: all 0.2s ease-in;
          background: #182f5d;
        }
      }
    }
    .dropdown-component-open {
      opacity: 1;
      height: fit-content;
      transition: all 0.2s ease-in;
    }
  }

  .dropdown-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-group {
      width: 100%;
      border-radius: 0.293vw;
      line-height: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.586vw 1.172vw;
      width: 100%;
      background: #222540;
      transition: all 0.2s ease-out;
      .open-icon {
        cursor: pointer;
      }
      .dropdown-input {
        transition: all 0.2s ease-out;
        border: none;
        outline: none;
        box-shadow: none;
        background: #222540;
        font-size: 0.938vw;
        height: 2.5vw;
        padding-right: 6.458vw;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: white;
        @media (max-width: 1365px) {
          height: 3.516vw;
          padding-right: 9.084vw;
          border: 0.073vw solid transparent;
          font-size: 1.319vw;
        }

        @media (max-width: 1024px) {
          height: 6.258vw;
          font-size: 2.347vw;
          border: 0.13vw solid transparent;
          padding-right: 16.167vw;
        }

        @media (max-width: 767px) {
          height: 13.333vw;
          font-size: 3.889vw;
        }
      }
    }
    .dropdown-label {
      min-width: 3.906vw;
      border-top-right-radius: 0.417vw;
      border-bottom-right-radius: 0.417vw;
      padding: 0 0.417vw;
      font-size: 0.625vw;
      height: inherit;
      background: #182f5d;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-transform: uppercase;
      @media (max-width: 1365px) {
        min-width: 5.495vw;
        border-top-right-radius: 0.586vw;
        border-bottom-right-radius: 0.586vw;
        padding: 0 0.586vw;
        font-size: 0.879vw;
        line-height: 1;
      }
      @media (max-width: 1024px) {
        min-width: 9.779vw;
        border-top-right-radius: 1.043vw;
        border-bottom-right-radius: 1.043vw;
        padding: 0 1.043vw;
        font-size: 1.564vw;
      }
      @media (max-width: 767px) {
        min-width: 20.835vw;
        border-top-right-radius: 2.222vw;
        border-bottom-right-radius: 2.222vw;
        padding: 0 2.222vw;
        font-size: 3.333vw;
      }
    }
  }
  .dropdown-component-open {
    transition: all 0.2s ease-in;
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    background: #222540;
    .dropdown-option {
      list-style: none;
      padding: 0.586vw 1.172vw;
      width: 100%;
      height: inherit;
      font-size: 0.938vw;
      height: 2.5vw;
      color: white;
      cursor: pointer;
      &.selected {
        background: rgba(248, 186, 21, 0.1);
        color: #f8ba15;
      }
    }
  }
}
