.claim-component {
    background-color: rgba(43, 222, 193, 0.1);
    vertical-align: middle;
    height: 2.5vw;
    padding: 0.104vw 0.833vw;
    border-radius: 0.208vw;
    border: solid 0.052vw #2bdec1;
    border-radius: 0.417vw;
    

    @media (max-width: 1365px) {
        height: 3.516vw;
        padding: 0.147vw 1.172vw;
        border-radius: 0.293vw;
        border: solid 0.073vw #2bdec1;
        border-radius: 0.586vw;            
    }

    @media (max-width: 1024px) {
        height: 6.258vw;
        padding: 0.261vw 2.086vw;
        border-radius: 0.522vw;
        border: solid 0.13vw #2bdec1;
        border-radius: 1.043vw;   
        margin-top: 1.043vw;    
        display: flex;
        align-items: center;
    }
    
    @media (max-width: 767px) {
        height: 13.333vw;
        padding: 0.556vw 4.444vw;
        border-radius: 1.111vw;
        border: solid 0.278vw #2bdec1;
        border-radius: 2.222vw;   
        flex-wrap: wrap;   
    }

    & b,  & span {
        font-size: 0.729vw;
        display: inline-block;

        @media (max-width: 1365px) {
            font-size: 1.026vw;       
        }
    
        @media (max-width: 1024px) {
            font-size: 1.825vw;
        }
        
        @media (max-width: 767px) {
            font-size: 3.889vw;   
        }
    }

    & span {
        margin-right: 0.521vw;

        @media (max-width: 1365px) {
            margin-right: 0.733vw;  
        }

        @media (max-width: 1024px) {
            margin-right: 1.304vw;    
        }
        
        @media (max-width: 767px) {
            margin-right: auto;    
        }
    }

    & .claim-button {
        font-weight: bold;
        color: #2bdec1;
        border: 0;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 0.833vw;
        padding: 0;

        @media (max-width: 1365px) {
            font-size: 1.172vw;
        }
    
        @media (max-width: 1024px) {
            font-size: 2.086vw;
            margin-left: auto;
        }
        
        @media (max-width: 767px) {
            font-size: 4.444vw;
            margin-left: 0;
        }

        &:active {
            transform: scale(1.05);
        }
    }
}

.sell-component, .withdraw-component {
    height: inherit;
    vertical-align: middle;
    
    &__container {
        display: flex;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &--button {
            background-color: #fea716;
            border: 0;
            outline: 0;
            color: white;
            width: 8.75vw;
            height: 2.083vw;
            border-radius: 0.208vw;
            margin-left: 0.833vw;
            font-size: 0.833vw;
            line-height: 1;
            cursor: pointer;

            &:active {
                transition: 0.2s transform;
                transform: scale(1.02);
            }

            @media (max-width: 1365px) {
                width: 8.75vw;
                height: 2.93vw;
                border-radius: 0.293vw;
                margin-left: 1.172vw;
                font-size: 1.172vw;  
            }
        
            @media (max-width: 1024px) {
                width: 14.602vw;
                height: 4.172vw;
                border-radius: 0.522vw;
                margin-left: 2.086vw;
                font-size: 2.086vw;   
            }
            
            @media (max-width: 767px) {
                max-width: 100%;
                width: 100%;
                height: 11.111vw;
                margin: 0;
                border-radius: 1.111vw;
                font-size: 4.444vw;     
            }
        }
    }
}

.buy-component, .deposit-component {
    & .button {
        margin-top: 1.146vw;
        height: 2.917vw;
        border-radius: 0.417vw;
        box-shadow: 0 0.104vw 0.521vw 0 rgba(0, 0, 0, 0.25);
        background-color: #fea716;
        line-height: 1px;
        font-size: 0.833vw;
        font-weight: bold;

        @media (max-width: 1365px){
            margin-top: 1.172vw;
            height: 4.103vw;
            font-size: 1.172vw;
            border-radius: 0.586vw;
        }

        @media (max-width: 1024px){
            margin-top: 2.086vw;
            height: 7.301vw;
            font-size: 2.086vw;
            border-radius: 1.043vw;
        }

        @media (max-width: 767px){
            margin-top: 4.444vw;
            height: 15.556vw;
            font-size: 4.444vw;
            border-radius: 2.222vw;
        }
    }
}