.claim-component {
    background-color: rgba(43, 222, 193, 0.1);
    vertical-align: middle;
    height: 2.5vw;
    padding: 0.104vw 0.833vw;
    border-radius: 0.208vw;
    border: solid 0.052vw #2bdec1;
    border-radius: 0.417vw;
    

    @media (max-width: 1365px) {
        height: 3.516vw;
        padding: 0.147vw 1.172vw;
        border-radius: 0.293vw;
        border: solid 0.073vw #2bdec1;
        border-radius: 0.586vw;            
    }

    @media (max-width: 1024px) {
        height: 48px;
        padding: 2px 16px;
        border-radius: 4px;
        border: solid 1px #2bdec1;
        border-radius: 8px;       
    }
    
    @media (max-width: 767px) {
        height: 48px;
        padding: 2px 16px;
        border-radius: 4px;
        border: solid 1px #2bdec1;
        border-radius: 8px;      
    }

    & b,  & span {
        font-size: 0.729vw;
        display: inline-block;

        @media (max-width: 1365px) {
            font-size: 1.026vw;       
        }
    
        @media (max-width: 1024px) {
                    
        }
        
        @media (max-width: 767px) {
                    
        }
    }

    & span {
        margin-right: 0.521vw;

        @media (max-width: 1365px) {
            margin-right: 0.733vw;  
        }

        @media (max-width: 1024px) {
            margin-right: 10px;    
        }
        
        @media (max-width: 767px) {
            margin-right: 10px;    
        }
    }

    & .claim-button {
        font-weight: bold;
        color: #2bdec1;
        border: 0;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 0.833vw;
        padding: 0;

        @media (max-width: 1365px) {
            font-size: 1.172vw;
        }
    
        @media (max-width: 1024px) {
            font-size: 16px;
        }
        
        @media (max-width: 767px) {
            font-size: 16px;
        }

        &:active {
            transform: scale(1.05);
        }
    }
}

.sell-component, .withdraw-component {
    height: inherit;
    vertical-align: middle;
    
    &__container {
        display: flex;

        &--button {
            background-color: #fea716;
            border: 0;
            outline: 0;
            color: white;
            width: 8.75vw;
            height: 2.083vw;
            border-radius: 0.208vw;
            margin-left: 0.833vw;
            font-size: 0.833vw;
            line-height: 1;

            @media (max-width: 1365px) {
                width: 8.75vw;
                height: 2.93vw;
                border-radius: 0.293vw;
                margin-left: 1.172vw;
                font-size: 1.172vw;  
            }
        
            @media (max-width: 1024px) {
                width: 168px;
                height: 40px;
                border-radius: 4px;
                margin-left: 16px;
                font-size: 16px;   
            }
            
            @media (max-width: 767px) {
                width: 168px;
                height: 40px;
                border-radius: 4px;
                margin-left: 16px;
                font-size: 16px;     
            }
        }
    }
}