.count-down-component {
    align-self: center;
    white-space: nowrap;
    
    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }

    @media (max-width: 767px) { 
        align-self: unset;
        margin-bottom: 2.222vw;
    }

    & img {
        margin-right: 0.104vw;
        width: 0.833vw;
        height: 0.833vw;

        @media (max-width: 1365px) {
            margin-right: 0.147vw;  
            width: 1.172vw;
            height: 1.172vw;   
        }

        @media (max-width: 1024px) {
            margin-right: 0.522vw;    
            width: 2.086vw;
            height: 2.086vw;     
        }
        
        @media (max-width: 767px) {
            margin-right: 0.556vw;    
            width: 4.444vw;
            height: 4.444vw;
        }
    }

    & b {
        margin-right: 0.104vw;
        font-size: 0.729vw;

        @media (max-width: 1365px) {
            margin-right: 0.147vw;
            font-size: 1.026vw;      
        }

        @media (max-width: 1024px) {
            margin-right: 0.261vw;
            font-size: 1.825vw;       
        }
        
        @media (max-width: 767px) {
            margin-right: 0.556vw;
            font-size: 3.889vw;       
        }
    }

    & small {
        font-size: 0.521vw;

        @media (max-width: 1365px) {
            font-size: 0.733vw;        
        }

        @media (max-width: 1024px) {
            font-size: 1.304vw;      
        }
        
        @media (max-width: 767px) {
            font-size: 2.778vw;     
        }
    }
}