.value-component {
  & b, & span {
      font-size: 0.729vw;

      @media (max-width: 1365px) {
          font-size: 1.026vw;       
      }

      @media (max-width: 1024px) {
          font-size: 1.825vw;      
      }

      @media (max-width: 767px) {
          font-size: 14px;    
      }
  }
}

.pnl-component {
  &.high {
      & .pnl-component__precents { 
          color: #2bdec1;
      }
  }

  &.low { 
      & .pnl-component__precents {
          color: #f44336;
      }
  }

  & b, & span {
      font-size: 0.729vw;

      @media (max-width: 1365px) {
          font-size: 1.026vw;     
      }

      @media (max-width: 1024px) {
          font-size: 1.825vw;
      }
      
      @media (max-width: 767px) {
          font-size: 14px;   
      }
  }

  &__precents {
      width: 100%;
      white-space: nowrap;

      & img {
          width: 0.833vw;
          height: 0.833vw;

          @media (max-width: 1365px) {
              width: 1.172vw;
              height: 1.172vw;   
          }
  
          @media (max-width: 1024px) {
              width: 2.086vw;
              height: 2.086vw;      
          }
          
          @media (max-width: 767px) {
              width: 16px;
              height: 16px;      
          }
      }
  }
}

.coin-component {
  width: 1.667vw;
  height: 1.667vw;
  vertical-align: middle;
  
  @media (max-width: 1365px) {
      width: 2.344vw;
      height: 2.344vw;
      margin-right: 1.758vw;
  }

  @media (max-width: 1024px) {
      width: 4.172vw;
      height: 4.172vw;
  }

  @media (max-width: 767px) {
      width: 32px;
      height: 32px;
  }
}