.arbitrage-statistics-component {
    min-height: auto;
    display: flex;
    padding: 16px 56px;
    height: 80px;

    & .value-component {
        margin-right: 108px;

        &:first-child {
            min-width: 276px;
        }

        & > h5 {
            color: rgba(white, 0.8);
            font-weight: normal;
            margin: 0 0 10px 0;
            line-height: normal;
        } 

        & > span { 
            color: rgba(white, 0.8);
        }

        & > div {
            margin: 10px 0 0 0;
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
        }

        & .index-value-component__top--title, & .index-value-component__top--value, & b {
            font-size: 18px;
        }

        & .index-value-component {
            margin: 0;
        }
    }

    & .index-value-component__top {
        min-height: auto;
        align-items: center;
        margin: 0;
    }
    
    & .index-value-component__top--info {
        margin: 0;

        & span {
            font-size: 18px;
        }

        & img {
            height: 24px;
            width: 24px;
        }

        &.low {
            color: #f96a9a;
        }
    }
}