.stat-component {
    position: relative;

    &.high {
        & p {
            color: #2bdec1;
        }
    }

    &.low {
        & p {
            color: #f96a9a;
        }
    }

    &.bold {
        & p {
            font-weight: bold;
        }
    }

    &.green {
        & p {
            color: #2bdec1;
        }
    }

    &.red {
        & p {
            color: #f96a9a;
        }
    }

    & .suffix {
        white-space: nowrap;
    }

    &.multiline {
        & p {
            font-size: 0.573vw;

            @media (max-width: 1365px){
                font-size: 0.733vw;
            }

            @media (max-width: 1024px){
            	font-size: 1.434vw;
            }

            @media (max-width: 767px){
            	font-size: 3.056vw;
            }
        }
    }
    
    & h2 {
        font-size: 0.625vw;
        font-weight: normal;
        margin: 0;
        display: flex;
        align-items: flex-start;
        
        @media (max-width: 1365px){
            font-size: 0.879vw;	
        }

        @media (max-width: 1024px){
            font-size: 1.565vw;
        }

        @media (max-width: 767px){
            font-size: 3.333vw;
            margin-bottom: 2.778vw;
            margin-top: 4.444vw;
        }
    }

    & p {
        font-size: 0.938vw;
        color: white;
        margin: 0;

        @media (max-width: 1365px){
            font-size: 1.025vw;
        }

        @media (max-width: 1024px){
            font-size: 2.347vw;
        }

        @media (max-width: 767px){
            font-size: 5vw;
        }
    }
}