.govi-migration-modal {
    &__wrapper {
        padding-block-start: 1.758vw;
        @media (max-width: 767px) {
            padding-block-start: 6.667vw;
        }
        & .migrate-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;

            & .govi-icon {
                width: 64px;
                height: 64px;
                margin: 0 4px 0 0;
                object-fit: contain;
            }

            & .v1-circle-icon {
                width: 32px;
                height: 32px;
                object-fit: contain;
            }

            & .v2-circle-icon {
                width: 32px;
                height: 32px;
                object-fit: contain;
            }

            & .arrow-icon-wrapper {
                display: flex;
                height: 64px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 0 7px 0 8px;
                
                & .arrow-icon {
                    width: 89px;
                    object-fit: contain;
                    @media (max-width: 767px) {
                        width: 57.3px;
                    }
                }
            }
        }

        & .details {
            padding: 1.758vw 0;
            @media (max-width: 767px) {
              padding: 6.667vw 0;
            }
            p, a{
              margin: 0.586vw 0;
              white-space: pre-wrap;
              line-height: 1.25vw;
              font-size: 0.729vw;
              color: white;
              
              @media (max-width: 1365px) {
                line-height: 1.758vw;
                font-size: 1.026vw;
              }
        
              @media (max-width: 1024px) {
                margin: 2.222vw 0;
                line-height: 2.344vw;
                font-size: 1.825vw;
              }
        
              @media (max-width: 767px) {
                margin: 2.222vw 0;
                line-height: 6.667vw;
                font-size: 3.889vw;
              }
            }
            p > .float-left {
              margin: 0;
              float: left;
            }
        }
        & .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            & .button {
                margin-inline-end: 2.344vw;
                margin-block-end: 0;
                text-transform: uppercase;
                background: #fea716;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
                &.disabled {
                    background: #2f3250;
                }
                &:last-of-type {
                    margin-inline-end: 0;
                }
                @media (max-width: 767px) {
                    margin-inline-end: 0;
                    margin-block-end: 4.444vw;
                }
            }
        }
    }
}