.table-component {
    padding: 2.083vw;

    @media (max-width: 1365px) {
        padding: 2.93vw;         
    }

    @media (max-width: 1024px) {
        padding: 40px;       
    }
    
    @media (max-width: 767px) {
        padding: 40px;       
    }

    &.available-to-stake {
        & thead {
            & tr {
                & th {
                    &:first-child, &:last-child {
                        padding-bottom: 0.833vw;
                        border-left: 0.833vw solid transparent;
                        border-right: 0.313vw solid transparent;
                        
                        @media (max-width: 1365px) {
                            border-left: 1.172vw solid transparent;
                            border-right: 0.44vw solid transparent;
                        }
                
                        @media (max-width: 1024px) {
                            border-left: 2.086vw solid transparent;
                            border-right: 0.782vw solid transparent;     
                        }
                        
                        @media (max-width: 767px) {
                            border-left: 4.444vw solid transparent;
                            border-right: 1.667vw solid transparent;    
                        }
                    }
                }
            }
        }
    }

    &.history, &.available-to-stake {
        & thead {
            & tr {
                & th {
                    &:first-child, &:last-child {
                        padding-bottom: 0.833vw;
                        border-left: 0.833vw solid transparent;
                        border-right: 0.313vw solid transparent;
                        
                        @media (max-width: 1365px) {
                            border-left: 1.172vw solid transparent;
                            border-right: 0.44vw solid transparent;
                        }
                
                        @media (max-width: 1024px) {
                            border-left: 2.086vw solid transparent;
                            border-right: 0.782vw solid transparent;     
                        }
                        
                        @media (max-width: 767px) {
                            border-left: 4.444vw solid transparent;
                            border-right: 1.667vw solid transparent;    
                        }
                    }
                }
            }
        }
        
        & tbody {
            & tr:not(.sub-header-component) {
                &:hover {
                    background-color: #182f5d;
                    border-color: #182f5d;
                }

                &:nth-child(even) {
                    &:hover {
                        background-color: #182f5d;
                        border-color: #182f5d;
                    }
                    background-color: #1a2243;
                    border-left: 0.833vw solid #1a2243;
                    border-right: 0.833vw solid #1a2243;
                    @media (max-width: 1365px) {
                        border-left: 1.172vw solid #1a2243;
                        border-right: 1.172vw solid #1a2243;
                    }
            
                    @media (max-width: 1024px) {
                        border-left: 2.086vw solid #1a2243;
                        border-right: 2.086vw solid #1a2243;       
                    }
                    
                    @media (max-width: 767px) {
                        border-left: 4.444vw solid #1a2243;
                        border-right: 4.444vw solid #1a2243;      
                    }
                }
            }
        }
    }


    table {
        width: 100%;
    }

    & thead {
        & tr {
            border-color: transparent;
        }
        
        & th {
            font-weight: normal;
            letter-spacing: normal;
            text-align: left;
            color: rgba(white, 0.5);
            padding-bottom: 0.833vw;
            font-size: 0.729vw;
            line-height: 1.25vw;
            white-space: nowrap;

            @media (max-width: 1365px) {
                padding-bottom: 1.172vw;
                font-size: 1.026vw;
                line-height: 1.758vw;   
            }
    
            @media (max-width: 1024px) {
                padding-bottom: 16px;
                font-size: 1.026vw;
                line-height: 24px;        
            }
            
            @media (max-width: 767px) {
                padding-bottom: 4.444vw;
                font-size: 3.889vw;
            }
        }
    }

    & tbody {
        & tr {
            height: 3.333vw;
            border-left: 0.833vw solid transparent;
            border-right: 0.833vw solid transparent;

            @media (max-width: 1365px) {
                height: 4.689vw;
                border-left: 1.172vw solid transparent;
                border-right: 1.172vw solid transparent;  
            }
    
            @media (max-width: 1024px) {
                height: 8.344vw;
                border-left: 2.086vw solid transparent;
                border-right: 2.086vw solid transparent;        
            }
            
            @media (max-width: 767px) {
                height: 64px;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;     
            }

            & td {
                height: inherit;
                border-collapse: separate;
            }

            &:hover {
                background-color: #1a2243;
                border-left: 0.833vw solid #1a2243;
                border-right: 0.833vw solid #1a2243;
                @media (max-width: 1365px) {
                    border-left: 1.172vw solid #1a2243;
                    border-right: 1.172vw solid #1a2243;
                }
        
                @media (max-width: 1024px) {
                    border-left: 2.086vw solid #1a2243;
                    border-right: 2.086vw solid #1a2243;       
                }
                
                @media (max-width: 767px) {
                    border-left: 4.444vw solid #1a2243;
                    border-right: 4.444vw solid #1a2243;      
                }
            }
        }
    }

    & td, & th {
        text-align: left;
        vertical-align: middle;
        padding-right: 12px;
        position: relative;

        & > div {
            &:not(.tooltip):not(.pairs-component):not(.apy-component) {
                width: 100%;
                vertical-align: middle;
                display: table-cell;
            }
        }

        &:last-child {
            text-align: right;
            display: table;
            margin-left: auto;
            padding: 0;
        }
    }
}

.table-component .sub-header-component {
    height: auto;
    
    &:first-child {
        & td {
            margin-top: 0;
        }
    }

    &:hover {
        background-color: transparent;
        border-color: transparent;
    }
    
    & td {
        vertical-align: middle;
        color: #01b8bd;
        font-size: 12px;
        margin: 8px 0;

    }
}