.navbar {
    & .wrong-network {
        & .connect-wallet-button__has-address--address {
           display: none;
        } 

        & .connect-wallet-button__connected {
            @media (max-width: 767px) {
                width: calc(100% + 32px);
                transform: translateX(-16px);
            }
        }

        & .connect-wallet-button__connected .button:not(.network-pending) {
            color: white;
            border: 0;
            background-color: #bb1e52;  
            
            @media (max-width: 767px) {
                box-shadow: none;
                height: 56px;
            }
        }
     }
}

.expert {
    .connect-wallet-button {
        @media only screen and (min-width: 340px) and (max-width: 767px)  { 
            & ~ span {
                white-space: nowrap;
            }
        }

       
        & .button {
            @media (max-width: 767px) {
                min-width: 124px;
            }
        }
    }
}

.connect-wallet-button {
   
    @media (max-width: 767px) {
        max-width: 100%;
        width: 100%;
    }

    & .button {
        width: 134px;
        max-width: 100%;
        height: 28px;
        border-radius: 4px;
        background-color: transparent;
        font-size: 11px;
        font-weight: normal;
        color: white;
        line-height: 14px;

        &.network-pending {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            & .spinner-container {
                min-height: auto;
                padding: 0;
                width: 12px;

                & .spinner {
                    height: 2px;
                    width: 2px;
                    font-size: 2px;
                    padding-right: 0;
                }
            }
        }

        @media (max-width: 767px) {
            min-width: 100%;
            max-width: 100%;
            height: 40px;
            font-size: 16px;
        }
    }

    &__has-address {
        width: 112px;
        height: 40px;
        border-radius: 4px;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: solid 1px #2bdec1;
        background-color: black;

        @media (max-width: 767px) {
            margin: 4px 0;
            justify-content: center;
            align-items: flex-start;
            padding: 8px 8px;
            height: 56px;
            border: solid 1px transparent;
            background-color: #2b387c;
            width: calc(100% + 32px);
            transform: translateX(-16px);
        }

        &--address { 
            display: flex;
            align-items: center;
            max-width: 100%;
            margin: 0;

            @media (max-width: 767px) {
                max-width: 100%;
                height: 100%;
                margin: 0;
            }

            & .dot {
                width: 100%;
                height: 100%;
                max-width: 8px;
                max-height: 8px;
                background-color: #2bdec1;
                border-radius: 100%;
                margin-right: 4px;

                @media (max-width: 767px) {
                    min-width: 12px;
                    min-height: 12px;
                    // align-self: baseline;
                    margin-right: 22px;
                }
            }

            & span {
                font-size: 11px;
                font-weight: normal;
                line-height: 14px;
                
                &.full--address {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 55px;

                    @media (max-width: 767px) {
                        max-width: 100%;
                    }
                }
                
                &.sliced--address {
                    text-overflow: unset;
                    overflow: visible;
                    max-width: none;
                }

                @media (max-width: 767px) {
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 1px;
                }
            }

        }

        & .button {
            box-shadow: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                height: 40px;
                font-size: 11px;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}


.change-provider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    @media(max-width: 767px) {
        justify-content: flex-start;
        margin-top: 0;
        margin-left: 2px;
    }

    & span {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        color: white;
    }

    & .button {
        font-size: 14px;
        line-height: 24px;
        color: #2bbede;
        box-shadow: none;
        background-color: transparent;
        text-decoration: underline;
        min-width: auto;
        width: auto;
    }
}