.layout-component {
    width: 100%;
    padding: 32px 24px 0 24px;

    @media (max-width: 767px) {
        padding: 24px 24px 0 24px;
    }

    & .row-component {
        padding-top: 1.25vw;

        @media (max-width: 1365px) { 
            padding-top: 16px;
        }

        @media (max-width: 980px) {
            flex-wrap: wrap;

            & .column-component {
                padding: 0;
                padding-top: 16px;

                &:first-child {
                    padding-top: 0;
                }
            }
        }

        @media (max-width: 767px) {
            padding-top: 24px;
            & .column-component { 
                padding-top: 24px;
            }
        }

        &:first-child {
            padding-top: 0;
        }
    }
}