.copy-component {
    display: flex;
    align-items: center;
    & .button {
        background-color: transparent;
        width: auto;
        box-shadow: none;
        padding: 0;
        white-space: nowrap;

        & img {
            margin-right: 8px;
        }
        
        & span {
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            color: white;
        }
    }

}