.copy-component {
    display: flex;
    align-items: center;
    & .button {
        background-color: transparent;
        width: auto;
        box-shadow: none;
        padding: 0;
        white-space: nowrap;

        & img {
            margin-right: 0.417vw;
            width: 1.25vw;
            height: 1.25vw;

            @media (max-width: 1365px){   
                margin-right: 0.586vw;
                width: 1.758vw;
                height: 1.758vw;
            }

            @media (max-width: 1024px){ 
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }

            @media (max-width: 767px){
                margin-right: 8px;
                width: 24px;
                height: 24px;
            }
        }
        
        & span {
            font-size: 0.729vw;
            line-height: 1.25vw;
            font-weight: normal;
            color: white;

            @media (max-width: 1365px){   
                font-size: 1.026vw;
                line-height: 1.758vw;
            }

            @media (max-width: 1024px){ 
                font-size: 14px;
                line-height: 24px;
            }

            @media (max-width: 767px){
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

}