
#notification-root {
    position: fixed;
    z-index: 999999;
    bottom: 76px;
    right: 16px;
    max-width: 328px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s all;
}