.input {
    height: 2.917vw;
    border-radius: 0.417vw;
    box-shadow: 0 0.104vw 1.042vw 0 rgba(0, 0, 0, 0.25);
    padding-left: 0.781vw;
    width: 100%;
    border: 0;

    @media (max-width: 1365px){
        height: 4.103vw;
        border-radius: 0.586vw;
        box-shadow: 0 0.147vw 1.465vw 0 rgba(0, 0, 0, 0.25);
        padding-left: 1.099vw;
    }
    
    &:focus {
        outline: 0;
    }
}

.error-message{
    position: absolute;
    color: #ff7293;
}

.input-container {
    width: 100%;
    height: 100%;
    position: relative;

    &.error{
        margin-bottom: 1.667vw;

        @media (max-width: 1365px){
            margin-bottom: 2.345vw;
        }

        & input {
            border: solid 0.104vw #ff7293;
            @media (max-width: 1365px){ 
                border: solid 2px #ff7293;
            }
            
        }

        .paste-icon { 
            border-left: 0.104vw solid #ff7293;

            @media (max-width: 1365px){ 
                border-left: 0.147vw solid #ff7293;
            }
        }

    }

    .error-message{
        bottom: -22px;
    }

    .paste-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.813vw;
        width: 2.917vw;
        cursor: pointer;
        border-left: 0.052vw solid #ecf6f8;
    }

    .paste-icon ~ .input {
        padding-right: 3.333vw;
    }
}