table .connect-wallet-component, .expand-list-component .connect-wallet-component {
    &.action {
        & .button { 
            margin-top: 0;
            box-shadow: unset;
            background-color: transparent;

            @media (min-width: 1024px){ 
                height: 100%;
            }
            
            @media (max-width: 767px){
                background-color: #14204b;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.connect-wallet-component {
    & .button {
        &::before {
            color: #fea716;
            content: "CONNECT\00a0";
        }

        height: 2.917vw;
        line-height: 1px;
        font-size: 0.833vw;
        font-weight: bold;

        @media (max-width: 1365px) {
            height: 4.103vw;
            font-size: 1.172vw;
        }

        @media (max-width: 1024px) {
            height: 7.301vw;
            font-size: 2.086vw;
        }

        @media (max-width: 767px) {
            height: 15.556vw;
            font-size: 4.444vw;
        }
    }

    &.action {
        & .button {
            margin-top: 1.146vw;
            height: 2.917vw;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
            color: #fea716;
            background-color: #14204b;

            @media (max-width: 1365px) {
                margin-top: 1.172vw;
                height: 4.103vw;
            }

            @media (max-width: 1024px) {
                margin-top: 2.086vw;
                height: 7.301vw;
            }

            @media (max-width: 767px) {
                margin-top: 4.444vw;
                height: 15.556vw;
            }
        }
    }

    &.table {
        @media (max-width: 1024px) {
            display: block;
        }

        @media (max-width: 767px) {
            padding: 0 2.778vw;
        }

        & .button {
            background-color: transparent;
            border: 0;
            width: auto;
            color: white;
            box-shadow: unset;
        }
    }
}
