.value-component {
    line-height: 1;
    & div {
        margin-top: 0.204vw;

        @media (max-width: 1365px){   
            margin-top: 0.247vw;
        }

        @media (max-width: 1024px){ 
            margin-top: 0.395vw;
        }

        @media (max-width: 767px){
            margin-top: 0.756vw;
        }
    }

    & b, & span, & div {
        font-size: 0.729vw;

        @media (max-width: 1365px) {
            font-size: 1.026vw;       
        }

        @media (max-width: 1024px) {
            font-size: 1.825vw;      
        }

        @media (max-width: 767px) {
            font-size: 3.889vw;    
        }
    }
}

.pnl-component {
  &.high {
      & .pnl-component__precents { 
          color: #2bdec1;
      }
  }

  &.low { 
      & .pnl-component__precents {
          color: #f44336;
      }
  }

  & b, & span {
      font-size: 0.729vw;

      @media (max-width: 1365px) {
          font-size: 1.026vw;     
      }

      @media (max-width: 1024px) {
          font-size: 1.825vw;
      }
      
      @media (max-width: 767px) {
          font-size: 3.889vw;   
      }
  }

  &__precents {
      width: 100%;
      white-space: nowrap;

      & img {
          width: 0.833vw;
          height: 0.833vw;

          @media (max-width: 1365px) {
              width: 1.172vw;
              height: 1.172vw;   
          }
  
          @media (max-width: 1024px) {
              width: 2.086vw;
              height: 2.086vw;      
          }
          
          @media (max-width: 767px) {
              width: 4.444vw;
              height: 4.444vw;      
          }
      }
  }
}

.coin-component--text {
    font-size: 0.729vw;
    white-space: nowrap;
    @media (max-width: 1365px){   
        font-size: 1.026vw;
    }

    @media (max-width: 1024px){ 
        font-size: 1.826vw;
    }

    @media (max-width: 767px){
        font-size: 3.89vw;
    }
}

.coin-component--img {
  width: 1.667vw;
  height: 1.667vw;
  vertical-align: middle;
  margin-right: 0.833vw;

  @media (max-width: 1365px) {
      width: 2.344vw;
      height: 2.344vw;
      margin-right: 1.172vw;
  }

  @media (max-width: 1024px) {
      width: 4.172vw;
      height: 4.172vw;
      margin-right: 1.043vw;
  }

  @media (max-width: 767px) {
      width: 8.889vw;
      height: 8.889vw;
      margin-right: 2.222vw;
  }
}

.apy-component {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;

    @media (max-width: 1024px){ 
        flex-direction: column-reverse;
    }
    
    & .value-component {
        margin-left: 1.25vw;
        display: flex;
        
        @media (max-width: 1365px){   
            margin-left: 1.758vw;   
        }

        @media (max-width: 1024px){ 
            margin-right: 3.129vw;
            margin-left: 0;
            width: 100%;
        }

        @media (max-width: 767px){
            margin-right: 6.667vw;
            margin-left: 0;
        }


        & b {
            order: 1;
            margin-left: 0.208vw;
            
            @media (max-width: 1365px){   
                margin-left: 0.293vw;
            }

            @media (max-width: 1024px){ 
                margin-left: 0.522vw;
                margin-bottom: 1.043vw;
            }

            @media (max-width: 767px){
            	margin-left: 1.111vw;
                margin-bottom: 2.222vw;
            }
        }
    
        &:last-child {
            margin: 0;
        }
    }
}

.table-component .pairs-component, .row-item-component .pairs-component {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__coins {
        white-space: nowrap;
        margin-right: 0.833vw;

        @media (max-width: 1365px){   
            margin-right: 1.172vw;
        }

        @media (max-width: 1024px){ 
            margin-right: 2.086vw;
        }

        @media (max-width: 767px){
            margin-right: 4.444vw;
        }

        & img {
            margin-right: 0;
            &:first-child {
                margin-right: 0.417vw;
                @media (max-width: 1365px){   
                    margin-right: 0.586vw;
                }
            }
        }
    }

    &__group {
        display: flex;
        align-items: center;
        margin-right: 0.833vw;

        @media (max-width: 1365px){   
            margin-right: 1.172vw;
        }

        @media (max-width: 1024px){ 
            margin-right: 2.086vw;
        }

        @media (max-width: 767px){
            margin-right: 4.444vw;
        }

        & img {
            width: 0.833vw;
            height: 0.833vw;
            margin-right: 0.417vw;

            @media (max-width: 1365px){   
                width: 1.172vw;
                height: 1.172vw;
                margin-right: 0.586vw; 
            }
                
            @media (max-width: 1024px){ 
                width: 2.086vw;
                height: 2.086vw;
                margin-right: 1.043vw; 
            }

            @media (max-width: 767px){
                width: 15.998px;
                height: 15.998px;
                margin-right: 2.222vw; 
            }
        }

        &--protocol {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            & span {
                font-size: 0.729vw;
                white-space: nowrap;

                @media (max-width: 1365px){   
                    font-size: 1.026vw;
                }

                @media (max-width: 1024px){ 
                    font-size: 1.826vw;
                }
    
                @media (max-width: 767px){
                    font-size: 3.89vw;
                }

                &:last-child {
                    text-transform: capitalize;
                }
            }
        }
        
    }
}