.navbar-component {
    width: 100%;
    height: 4.167vw;
    background-color: #03070f;

    @media (max-width: 1365px) { 
        height: 5.861vw;
    }

    @media (max-width: 980px) {
        height: 10.43vw;
    }

    @media (max-width: 767px) {
        height: 26.667vw;
    }
}