.navbar-component {
    padding-top: 4.167vw;
    z-index: 9999;
    transition: 0.2s all;
    
    @media (max-width: 1365px) { 
        padding-top: 5.861vw;
    }

    @media (max-width: 1024px) {
        padding-top: 10.43vw;
    }

    @media (max-width: 767px) {
        padding-top: 26.667vw;
    }

    &.is-scroll {
        & .navbar-component {
            &__container {
                background-color: #03070f;
            }
        } 
    }

    &__container {
        width: 100%;
        height: 4.167vw;
        background-color: #03070f;
        display: flex;
        align-items: center;
        padding: 0 1.667vw;
        position: fixed;
        z-index: 99;
        top: 0;

        @media (max-width: 1365px) { 
            height: 5.861vw;
            padding: 0 2.345vw;
        }
    
        @media (max-width: 1024px) {
            height: 10.43vw;
            padding: 0 3.129vw;
        }
    
        @media (max-width: 767px) {
            height: 26.667vw;
            background-color: transparent;
            padding: 0 6.667vw;
        }
    }

    &__list {
        width: 6.25vw;
        height: inherit;

        & a {
            font-size: 0.833vw;
            text-align: center;
            color: white;
            text-decoration: none;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 0.104vw solid transparent;

            @media (max-width: 1365px) {
                border-bottom: 0.146vw solid transparent;
                font-size: 1.172vw;
            }
    
            @media (max-width: 1024px) {
                border-bottom: 0.261vw solid transparent;
            }
    
            @media (max-width: 767px) {
                border-bottom: 0.548vw solid transparent;
            }

            &.active {
                font-weight: bold;
                border-color: #fea716;
            }
        }
    }
}

.logo-component {
    margin-right: 3.854vw;
    text-decoration: none;  
    z-index: 1;

    @media (max-width: 1365px) {  
        margin-right: 5.421vw;
    }

    @media (max-width: 1024px) { 

    }

    @media (max-width: 767px) { 

    }

    & img {
        width: 4.888vw;
        height: 1.354vw;

        @media (max-width: 1365px) {  
            width: 6.875vw;
            height: 1.905vw;
        }
    
        @media (max-width: 1024px) { 
            width: 12.235vw;
            height: 3.39vw;
        }
    
        @media (max-width: 767px) { 
            width: 26.067vw;
            height: 7.223vw;
        }
    }

    & div {
        font-size: 0.521vw;
        font-weight: normal;
        color: white;
        text-decoration: none;

        @media (max-width: 1365px) {  
            font-size: 0.733vw;
        }
    
        @media (max-width: 1024px) { 
            font-size: 1.304vw;
        }
    
        @media (max-width: 767px) { 
            font-size: 2.778vw;
        }
    }
}


.hamburger-component {
    background-color: transparent;
    outline: 0;
    border: 0;
    margin-left: auto;
    z-index: 1;
    height: 24px;
    width: 24px;
    cursor: pointer;
    padding: 0;

    &.opened {
        & .hamburger-component__container {
            transform: translate(1px, 1px);
            & div {
                margin-top: 0;

                &:first-child {
                    transform: rotate(45deg) translate(-2px, 0px);

                    @media (max-width: 400px){  
                        transform: rotate(45deg) translate(-3px, 0px);
                    }
                }

                &:nth-child(2) {
                    opacity: 0;
                    height: 0;
                }
                
                &:last-child {
                    transform: rotate(-45deg) translate(1px, -4px);
                    width: 20px;

                    @media (max-width: 400px){ 
                        width: 16px;
                    }
                }
            }
        }
    }

    &__container {
        & div {
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
            background-color: white;
            width: 20px;
            height: 3px;
            border-radius: 2px;
            margin-top: 2px;
            margin-left: auto;

            &:nth-child(2) {
                opacity: 1;
            }
            
            &:last-child {
                width: 16px;
            }

            @media (max-width: 400px){
                width: 16px;
                height: 2px;
                border-radius: 1px;
                margin-top: 2px;

                &:last-child {
                    width: 13px;
                    margin-left: auto;
                }
            }
        }

        & img {
            width: 3.129vw;
            height: 3.129vw;

            @media (max-width: 767px) {
                width: 6.666vw;
                height: 6.666vw;
            }
        }
    }
}

.mobile-menu {
    width: 100%;
    position: fixed;
    background-color: #11254d;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 13.038vw;
    
    @media (max-width: 767px){
        padding-top: 27.778vw;
    }

    animation: NavbarfadeOut 0.5s;
    animation-fill-mode: forwards;

    .navbar-component__list {
        height: auto;
        width: 100%;

        &:first-child {
            & a {
                border-top: solid 1px #182f5d;
            }
        }

        & a {
            font-size: 2.086vw;
            padding: 2.868vw 5.215vw 2.608vw 5.215vw;
            border-bottom: solid 1px #182f5d;
            text-align: left;
            display: block;

            @media (max-width: 767px){
                padding: 6.111vw 7.222vw 5.556vw 7.222vw;
                font-size: 4.444vw;
            }
            
            &.active {
                color: #fea716;
            }
        }
    }

    @keyframes NavbarfadeOut {
       from {
        left: -100%;
        top: 0;
       }

       to {
        left: 0;
        top: 0;
       }
    }
}