.platform-usecases-component {
    padding: 0 10vw;
  

    @media (max-width: 1365px) {
        padding: 0 2.5vw;
    }
      
    @media (max-width: 1024px) {
        padding: 0 3.129vw; 
    }
    
    @media (max-width: 767px){
        padding: 0 6.667vw; 
    }

    & .row-component:not(.graph-section) {
        &:last-child {
            padding-top: 7.552vw;

            @media (max-width: 1365px) {
                padding-top: 12.623vw;
            }

            @media (max-width: 1024px) {
                padding-top: 16.465vw;
            }

            @media (max-width: 767px){
                padding-top: 26.862vw;
            }
        }
    }

    &__cards-row {
        & .usecase-component {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    & .row-component.graph-section {
        padding-top: 7.083vw;

        @media (max-width: 1365px) {
            flex-wrap: wrap;
        }
          
        @media (max-width: 1024px) {
            padding-top: 3.129vw;
        }

        @media (max-width: 767px){
            padding-top: 6.667vw;
        }

        & > .container-component {
            &:nth-child(even) {
                margin-left: 1.667vw;
                @media (max-width: 1365px) {
                    margin-left: 0;
                }
            }

            &:nth-child(odd) {
                margin-right: 1.667vw;
                @media (max-width: 1365px) {
                    margin-right: 0;
                }
            }
        }
    }

    &__title {
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin-top: 0;
        font-size: 2.083vw;

        @media (max-width: 1365px) {
            font-size: 2.93vw;
        }
          
        @media (max-width: 1024px) {
            font-size: 3.347vw;
            margin-top: 2.086vw;
            margin-bottom: 0;
        }

        @media (max-width: 767px){
            font-size: 5vw;
            margin-top: 15.556vw;
        }
    }
}

.usecase-component {
    position: relative;
    margin: 0 1.667vw;
    padding: 4.583vw 1.667vw 1.667vw 1.667vw;

    @media (max-width: 1365px) {
        margin: 0 2.344vw;
        padding: 6.447vw 2.344vw 2.344vw 2.344vw;
    }
      
    @media (max-width: 1024px) {
        padding: 11.474vw 4.172vw 4.172vw 4.172vw;
        margin: 0 0 13.777vw 0;
    }
    
    @media (max-width: 767px){
        margin: 0 0 29.222vw 0;
        padding: 24.445vw 8.888vw 8.888vw 8.888vw;

        &:last-child {
            margin: 0;
        }
    }

    & h3 {
        font-weight: bold;
        text-align: center;
        font-size: 0.833vw;
        margin: 0.417vw 0 0.833vw 0;

        @media (max-width: 1365px) {
            font-size: 1.172vw;
            margin: 0.586vw 0 1.172vw 0;
        }
          
        @media (max-width: 1024px) {
            margin: 1.043vw 0 2.086vw 0;
            font-size: 2.086vw;
        }
        
        @media (max-width: 767px){
            margin: 2.222vw 0 4.444vw 0;
            font-size: 4.444vw;
        }
    }

    & p {
        font-weight: normal;
        margin: 0;
        font-size: 0.729vw;
        line-height: 1.042vw;
        @media (max-width: 1365px) {
            font-size: 1.026vw;
            line-height: 1.465vw;
            line-height: 1.466vw;
        }
          
        @media (max-width: 1024px) {
            font-size: 1.826vw;
            line-height: 2.608vw;
        }
        
        @media (max-width: 767px){
            font-size: 3.89vw;
            line-height: 5.557vw;
        }
    }

    &__icon {
        max-width: 100%;
        max-height: 100%;
        background-color: #222540;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.917vw;
        height: 7.917vw;

        @media (max-width: 1365px) {
            width: 11.136vw;
            height: 11.136vw;
        }

        @media (max-width: 1024px) {
            width: 19.818vw;
            height: 19.818vw;
        }

        @media (max-width: 767px){
            width: 42.224vw;
            height: 42.224vw;
        }

        & h3 {
            font-size: 0.938vw;
            @media (max-width: 1365px) {
                font-size: 1.319vw;
            }
              
            @media (max-width: 1024px) {
                font-size: 1.758vw;
            }

            @media (max-width: 767px){
                font-size: 4.444vw;
            }
        }

        & img {
            width: 3.75vw;
            height: 3.75vw;

            @media (max-width: 1365px) {
                width: 5.275vw;
                height: 5.275vw;
            }
    
            @media (max-width: 1024px) {
                width: 9.388vw;
                height: 9.388vw;
            }
            
            @media (max-width: 767px){
                width: 20.001vw;
                height: 20.001vw;  
            }
        }
    }
}