.statistics-component {
    padding: 1.667vw 0.729vw 1.25vw 0.729vw;
    min-height: 6.558vw;
    
    @media (max-width: 1365px){
        min-height: 10vw;
        padding: 1.667vw 0.729vw 1.25vw 0.729vw;
    }

    @media (max-width: 980px){
        padding: 3.129vw;
        min-height: 100%;
        height: 100%;
    }

    @media (max-width: 767px){
        padding: 6.667vw 4.444vw;
    }

    & .stat-component {
        min-width: 5.208vw;

        @media (max-width: 1365px){
            width: 15.208vw;
        }

        @media (max-width: 980px){
        	width: 29vw;
        }

        @media (max-width: 767px){
        	width: 100%;
        }

        &:first-child {
            & h2 {
                @media (max-width: 767px){ 
                    margin-top: 0;
                }
            }
        }

        & h2 {
            max-width: 7.292vw;
            height: 1.979vw;

            @media (max-width: 1365px){
                max-width: 100%;
                height: 1.319vw;	
            }

            @media (max-width: 980px){
                height: 3.329vw;
            }

            @media (max-width: 767px){
                min-height: auto;
                height: auto;
                display: flex;
                align-items: center;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1365px) {
            flex-wrap: wrap;
        }

        &--breaker {
            @media (max-width: 1365px) {
                width: 100%;
                margin: 0.44vw 0;
            }

            @media (max-width: 980px) {
                margin: 1.043vw 0;
            }
        }
    }
}