.cvi-volatility-component {
   & .cvi-volatility-component__vol {
      &--title {
         font-size: 0.625vw;
         margin-right: 0.625vw;

         @media (max-width: 1365px) {
            font-size: 0.879vw;
            margin-right: 0.879vw;
         }

         @media (max-width: 1024px) {
            font-size: 1.565vw;
            margin-right: 1.565vw;
         }

         @media (max-width: 767px) {
            font-size: 3.333vw;
            margin-right: 3.333vw;
            width: 100%;
            display: block;
            margin-bottom: 2.222vw;
            margin-top: 4.444vw;
         }
      }

      &--value {
         font-size: 0.938vw;
         margin-right: 0.521vw;

         @media (max-width: 1365px) {
          font-size: 1.319vw;
          margin-right: 0.733vw;
         }

         @media (max-width: 1024px) {
          font-size: 2.347vw;
          margin-right: 1.304vw;
         }

         @media (max-width: 767px) {
          font-size: 5vw;
          margin-right: 2.778vw;
         }
      }

      &--precent {
         font-size: 0.938vw;
         display: inline-flex;
         align-items: center;

         &.low {
            color: #f96a9a;
         }

         &.high {
            color: #2bdec1;
         }

         @media (max-width: 1365px) {
          font-size: 1.319vw;
         }

         @media (max-width: 1024px) {
          font-size: 2.347vw;
         }

         @media (max-width: 767px) {
          font-size: 5vw;
         }
      }
   }
}
