.table-component {
    &.staked  {
        & .row-actions-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            vertical-align: middle;
            height: 100%;
        }
    }
}