.metamask-asset-component {
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    top: 0.104vw;

    @media (max-width: 1365px){   
        top: 0.147vw;        
    }

    @media (max-width: 1024px){ 
        top: 0;
    }

    &.external-link {
        margin-left: 0;
    }

    &:active {
        transform: scale(1.05);
    }
}