.platform-stats-container {
    min-height: auto;
            
    @media (max-width: 1024px){
         margin-bottom: 2.086vw;
    }

    @media (max-width: 767px){
        margin-bottom: 6.667vw;               
    }

    .stats tr{
        width: 100%;
        position: relative;
        th  {
            &:nth-child(1) {
                width: 20%;
            }
            &:nth-child(2), &:nth-child(3) {
                width: 40%;
            }
        }
    }
    & .statistics-component {
        padding: 0;
        min-height: auto;

        & .statistics-spinner {
            padding-left: 4px;
        }
    }
}