.footer-component {
    background-color: rgba(white, 0.1);
    height: 2.5vw;
    max-width: 100%;
    margin: 0 24px;

    @media (max-width: 1365px) {
        height: 3.516vw;
    }

    @media (max-width: 980px) {
        height: 6.258vw;
    }

    @media (max-width: 767px) {
        height: 46.389vw;
    }
}