.platform-form-component {
    height: 100%;
    padding: 2.917vw;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1365px){
        padding: 4.103vw;
    }

    @media (max-width: 1024px){ 
        padding: 3.129vw;
    }

    @media (max-width: 767px){ 
        padding: 4.444vw;
    }

    &__left {
        padding-right: 1.875vw;
        flex: 50%;
        order: 0;

        @media (max-width: 1365px){
            padding: 0;
        }
    }

    &__right {
        flex: 50%;
        padding-left: 1.875vw;
        @media (max-width: 1365px){
            padding: 0;
            flex: 100%;
            margin-top: 1.758vw;
        }

        @media (max-width: 1024px){
        	flex: 100%;
            margin-top: 2.086vw;
            padding: 0;
            order: 1;
        }

        @media (max-width: 767px){
            margin-top: 6.667vw;
        }
    }

    &__bottom {
        flex: 1;
        margin-top: 1.25vw;

        @media (max-width: 1365px){
            margin-top: 1.758vw;
        }

        @media (max-width: 1024px){ 
            order: 0;
            flex: 100%;
        }

        @media (max-width: 767px){
        	margin-top: 6.667vw;
        }

        & p {
            font-size: 0.729vw;
            margin: 0;
            line-height: 0.938vw;

            @media (max-width: 1365px){
                font-size: 1.026vw;
                line-height: 1.319vw;
            }

            @media (max-width: 1024px){
                font-size: 1.825vw;
                line-height: 2.347vw;
            }

            @media (max-width: 767px){
                font-size: 3.889vw;
                line-height: 5vw;
            }

            & b {
                color: white;
            }
        }
    }
}
