.platform-form-component {
    height: 100%;
    padding: 2.917vw;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1365px){
        padding: 4.103vw;
    }

    @media (max-width: 1024px){ 
        padding: 3.129vw;
    }

    @media (max-width: 767px){ 
        padding: 4.444vw;
    }

    &__left {
        padding-right: 1.875vw;
        flex: 50%;
        order: 0;

        @media (max-width: 1365px){
            padding: 0;
        }

        & .button.platform-form-component__left-button {
            height: 2.5vw;
            font-size: 0.833vw;
            border-radius: 8px;

            @media (max-width: 1365px){
                height: 3.516vw;
                font-size: 1.172vw;
            }

            @media (max-width: 1024px){
                height: 7.301vw;
                font-size: 2.086vw;
            }

            @media (max-width: 767px){
                height: 15.556vw;
                font-size: 4.444vw;
            }
        }
    }

    &__right {
        flex: 50%;
        padding-left: 1.875vw;
        @media (max-width: 1365px){
            padding: 0;
            flex: 100%;
            margin-top: 1.758vw;
        }

        @media (max-width: 1024px){
        	flex: 100%;
            margin-top: 2.086vw;
            padding: 0;
            order: 1;
        }

        @media (max-width: 767px){
            margin-top: 6.667vw;
            min-width: calc(100% + 8.889vw);
            transform: translate(-4.444vw, 4.444vw);
        }
    }

    &__bottom {
        flex: 1;
        margin-top: 1.25vw;

        @media (max-width: 1365px){
            margin-top: 1.758vw;
        }

        @media (max-width: 1024px){ 
            order: 0;
            flex: 100%;
        }

        @media (max-width: 767px){
        	margin-top: 6.667vw;
        }

        & p {
            font-size: 0.729vw;
            margin: 0;

            @media (max-width: 1365px){
                font-size: 1.026vw;
            }

            @media (max-width: 1024px){
                font-size: 1.825vw;
            }

            @media (max-width: 767px){
                font-size: 3.889vw;
            }

            & b {
                color: #fea716;
                margin-left: 0.208vw;

                @media (max-width: 1365px){
                    margin-left: 0.293vw;
                }
            }
        }
    }

    & .button {
        margin-top: 1.146vw;
        height: 2.917vw;
        border-radius: 0.417vw;
        box-shadow: 0 0.104vw 0.521vw 0 rgba(0, 0, 0, 0.25);
        background-color: #fea716;
        line-height: 1px;

        @media (max-width: 1365px){
            margin-top: 1.172vw;
        }

        @media (max-width: 1024px){
            margin-top: 2.086vw;
        }

        @media (max-width: 767px){
            margin-top: 4.444vw;
        }
    }
}

.platform-form-details-component {
    border-radius: 0.417vw;
    background-color: #222540;

    @media (max-width: 1365px){ 
        border-radius: 0.586vw;
    }

    @media (max-width: 1024px){ 
        border-radius: 1.043vw;
    }

    @media (max-width: 767px){
        border-radius: 2.222vw;
    }
    
    &__container {
        padding: 1.094vw 2.5vw;
        padding: 1.094vw 2.5vw;
        min-height: 17.2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1365px){
            padding: 2.637vw 3.516vw;  
        }

        @media (max-width: 1024px){ 
            padding: 4.694vw 6.258vw;
        }

        @media (max-width: 767px){
            padding: 7.778vw 4.444vw;
        }

        &--amount {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 0.052vw solid #2f3250;
            padding-bottom: 1.042vw;
            margin-bottom: 1.042vw;

            @media (max-width: 1365px){
                border-bottom: 0.073vw solid #2f3250;
                padding-bottom: 1.465vw;
                margin-bottom: 1.465vw;
            }
    
            @media (max-width: 1024px){ 
                border-bottom: 0.13vw solid #2f3250;
                padding-bottom: 2.608vw;
                margin-bottom: 2.608vw;
            }

            @media (max-width: 767px){
                border-bottom: 0.278vw solid #2f3250;
                padding-bottom: 5.556vw;
                margin-bottom: 5.556vw;
                align-items: flex-start;
            }
            
            & span {
                font-size: 0.521vw;

                @media (max-width: 1365px){
                    font-size: 0.733vw;
                }
        
                @media (max-width: 1024px){ 
                    font-size: 1.304vw;
                }

                @media (max-width: 767px){
                    font-size: 2.778vw;
                }
            }

            & > b {
                font-size: 1.458vw;
                margin-top: 0.208vw;

                @media (max-width: 1365px){
                    font-size: 2.051vw;
                    margin-top: 0.293vw;
                }
        
                @media (max-width: 1024px){ 
                    font-size: 3.651vw;
                    margin-top: 0.522vw;
                }

                @media (max-width: 767px){
                    font-size: 7.778vw;
                    margin-top: 0.556vw;
                }
            }
        }

        & .stat-component {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 0.837vw;
            padding-bottom: 0.827vw;
            border-bottom: 0.052vw solid #2f3250;

            @media (max-width: 1365px){
                margin-bottom: 1.136vw;
                padding-bottom: 1.136vw;
                border-bottom: 0.073vw solid #2f3250;
            }

            @media (max-width: 1024px){
                margin-bottom: 2.021vw;
                padding-bottom: 2.021vw;
                border-bottom: 0.13vw solid #2f3250;
            }

            @media (max-width: 767px){
                margin-bottom: 4.306vw;
                padding-bottom: 4.306vw;
                border-bottom: 0.278vw solid #2f3250;
                flex-direction: column;
                align-items: flex-start;
            }

            & h2 {
                @media (max-width: 767px){ 
                    margin-top: 2px;
                }
            }

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}