.arbitrage-form-component {
    height: 100%;
    width: 448px;
    margin-right: 36px;

    & .action-controller_component {
        & .input-group-component.amount-component__group {
            margin-top: 0;
        }
    }

}

.see-more-component {
    margin-top: 16px;
    & span {
        font-size: 12px;
    }
}