.arbitrage-form-component {
    width: 448px;
    margin-right: 36px;

    & .action-controller_component {
        & .input-group-component.amount-component__group {
            margin-top: 0;
        }
    }
}
