.container-component {
    border-radius: 0.833vw;
    background-color: #1b1d38;
    min-height: 5.208vw;
    width: 100%;

    @media (max-width: 1365px) {
        min-height: 7.326vw;
    }

    @media (max-width: 767px) {
        border-radius: 4.444vw;
    }

    &__header {
        background-color: rgba(#182f5d, 0.3);
        display: flex;
        align-items: center;
        border-radius: 16px;
        height: 80px;
        padding: 0 56px;
        border-bottom: 1px solid #2b387c;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        & h2 {
            margin: 0;
            font-weight: normal;
            line-height: 1;
            font-size: 18px;
        }
    }
}