.container-component {
    border-radius: 0.833vw;
    background-color: #1b1d38;
    min-height: 5.208vw;
    width: 100%;

    @media (max-width: 1365px) {
        min-height: 7.326vw;
    }

    @media (max-width: 980px) {
        min-height: 20.86vw;
    }

    @media (max-width: 767px) {
        min-height: 82.222vw;
    }
}