.sub-navbar-component {
    height: 3.75vw;
    background-color: #2b387c;
    
    @media (max-width: 1365px) { 
        height: 5.275vw;
    }

    @media (max-width: 1024px) {
        height: 9.387vw;
    }


    @media (max-width: 767px) {
        margin: 0 6.667vw;
        border-radius: 2.222vw;
        background-color: #182f5d;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    & .sub-navbar {
        height: 100%;

        & .tabs-form-component__header {
            background-color: transparent;
            height: 100%;
        }
       
        & .tabs-component  {
            display: flex;
            align-items: center;
            height: 100%;
            background-color: #0f112d;
            margin: 0 1.667vw;
            padding: 0;
            border-radius: 0.208vw;
            border: solid 0.052vw #f8ba15;
            height: 2.5vw;
            padding: 0 0.156vw;

            @media (max-width: 1365px) { 
                margin: 0 2.344vw;
                border-radius: 0.293vw;
                border: solid 0.073vw #f8ba15;
                height: 3.516vw;
                padding: 0 0.22vw;
            }
    
            @media (max-width: 1024px) { 
                margin: 0 3.129vw;
                border-radius: 0.522vw;
                border: solid 0.13vw #f8ba15;
                height: 6.258vw;
                padding: 0 0.391vw;
            }
            
            @media (max-width: 767px){
                padding: 0 4.444vw;
                border-bottom: 0;
                background-color: #0f112d;
                border: 0;
                height: auto;
            }

            & .tabs-component__tab {
                text-transform: capitalize;
                border-radius: 0.108vw;
                padding: 0;
                border: 0;
                font-size: 0.833vw;
                font-weight: normal;
                line-height: 1.25vw;
                height: 2.083vw;
                margin-right: 0;
                transition: 0.2s all;
                min-width: 7.5vw;
                color: rgba(white, 0.75);
                
                @media (max-width: 1365px) {
                    border-radius: 0.293vw;
                    font-size: 1.172vw;
                    line-height: 1.758vw;
                    height: 2.93vw;
                    margin-right: 0;
                    min-width: 10.549vw;
                }
    
                @media (max-width: 1024px) {
                    border-radius: 0.521vw;
                    font-size: 2.086vw;
                    line-height: 3.129vw;
                    height: 5.214vw;
                    min-width: 18.774vw;
                }
                
                @media (max-width: 767px){
                    padding: 0;
                	border: 0;
                    font-size: 3.889vw;
                    line-height: 0;
                    height: auto;
                    display: flex;
                    align-items: center;
                }

                &.active {
                    background-color: #fea716;
                    font-weight: bold;
                    color: white;

                    @media (max-width: 767px){
                    	background-color: transparent;
                    }
                }
            }
        }
    }
}

.ethereum-main-address-component {
    font-weight: normal;
    color: white;
    font-size: 0.625vw;

    @media (max-width: 1365px){   
        font-size: 0.879vw;     
    }

    @media (max-width: 1024px){ 
        font-size: 1.565vw;
    }

    @media (max-width: 767px){
        font-size: 3.333vw;  
    }

    & a {
        color: #2bbede;
        text-decoration: none;
    }
}