.sub-navbar-component {
    height: 3.75vw;
    background-color: #2b387c;
    
    @media (max-width: 1365px) { 
        height: 5.275vw;
    }

    @media (max-width: 980px) {
        height: 9.387vw;
    }

    @media (max-width: 767px) {
        border-radius: 2.222vw;
        background-color: #182f5d;
        margin: 0 24px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    & .sub-navbar {
        height: 100%;

        & .tabs-form-component__header {
            background-color: transparent;
            height: 100%;
        }
       
        & .tabs-component  {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 1.667vw;

            @media (max-width: 1365px) { 
                padding: 0 1.758vw;
            }
    
            @media (max-width: 980px) { 
                padding: 0 3.129vw;
            }
            
            @media (max-width: 767px){
                padding: 0 4.444vw;
                border-bottom: 0;
                background-color: #0f112d;
            }

            & .tabs-component__tab {
                text-transform: capitalize;
                padding: 0.417vw 1.458vw;
                border-radius: 0.208vw;
                border: solid 0.052vw #264fa1;
                font-size: 0.833vw;
                font-weight: normal;
                line-height: 1.25vw;
                height: 2.083vw;
                margin-right: 0.833vw;
                transition: 0.2s all;
    
                @media (max-width: 1365px) {
                    padding: 0.586vw 2.051vw;
                    border-radius: 0.293vw;
                    font-size: 1.172vw;
                    line-height: 1.758vw;
                    height: 2.93vw;
                    margin-right: 1.172vw;
                }
    
                @media (max-width: 980px) {
                    padding: 1.043vw 3.65vw;
                    border-radius: 0.521vw;
                    font-size: 2.086vw;
                    line-height: 3.129vw;
                    height: 5.214vw;
                    margin-right: 2.086vw;
                }
                
                @media (max-width: 767px){
                    padding: 0;
                	border: 0;
                    font-size: 3.889vw;
                    line-height: 0;
                    height: auto;
                    display: flex;
                    align-items: center;
                }

                &.active {
                    background-color: #007acb;

                    @media (max-width: 767px){
                    	background-color: transparent;
                    }
                }
            }
        }
    }
}