.tooltip {
    margin-left: 0.156vw;
    @media (max-width: 1365px){
    	margin-left: 0.22vw;
    }

    @media (max-width: 980px){
    	margin-left: 0.391vw;
    }

    @media (max-width: 767px){
    	margin-left: 3px;
    }

    display: inline-block;

    
    & img {
        width: 0.833vw;
        height: 0.833vw;

        @media (max-width: 1365px){
            width: 1.172vw;
            height: 1.172vw;
        }

        @media (max-width: 980px){
            width: 2.086vw;
            height: 2.086vw;
        }

        @media (max-width: 767px){
            width: 4.444vw;
            height: 4.444vw;
        }
    }
    
    &:hover {
        & .tooltip__info {
            transform: translateY(13px);
            > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                position: relative;
                text-align: left;
            }
        }

        .tooltip-avatar {
            position: relative;
            cursor: pointer;

            &::before {
                content: " ";
                width: 0; 
                height: 0; 
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 16px solid black;
                position: absolute;
                top: 22px;
                left: -4px;
                z-index: 1;
            }
        }
    }

    &__info {
        z-index: 999;
        position: absolute;
        margin: 0 6px;
        width: 100%;
        white-space: break-spaces;

        &:hover {
            > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        > div {
            background-color: #04050f;
            border-radius: 10px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.71;
            color: white;
            z-index: 1;
            padding: 20px 24px;
            display: none;
        }
    }
}